.sliderWrapper {
  color: antiquewhite;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: calc(var(--index) * 17);
  margin-left: 4vw;
}
.sliderWrapper h3 {
  font-size: calc(var(--index) * 1.2);
}
.sliderWrapper h3,
.sliderTextAbout {
  width: calc(var(--index) * 17);
  text-align: center;
}
.sliderTextAbout {
  font-style: italic;
  text-shadow: 3px 3px 3px grey;
}
.sliderTextAbout span {
  font-weight: 900;
  font-size: calc(var(--index));
  font-style: normal;
  text-shadow: none;
}
.imageSlider {
  width: calc(var(--index) * 17);
  /* height: calc(var(--index) * 10); */
  cursor: pointer;
  box-shadow: 1px 1px 17px darkgray;
  border-radius: 12px;
}
.imageSlider:hover {
 filter:sepia(1.2) ;
 transform: scale(1.1);
}

 .slick-prev {
  left: 39vw;
  top: 69vh;
  z-index: 1;
}
.slick-next {
  left: 58vw;
  top: 69vh;
  z-index: 1;
}


@media screen and (max-width: 1280px) {
  .sliderWrapper,
  .imageSlider {
    width: calc(var(--index) * 14.5);
  }
  .sliderTextAbout,
  .sliderTextAbout > span {
    font-size: calc(var(--index) * 0.7);
    width: calc(var(--index) * 14);
  }
  .sliderWrapper{
    margin:0 7vw;
    padding: 0 7vw;
    }
    .slick-track{
      display: flex;
      gap:5vw;
    }
}
@media screen and (max-width: 768px) {
  .sliderWrapper,
  .imageSlider {
    width: calc(var(--index) * 12);
  }
  .sliderTextAbout,
  .sliderTextAbout > span {
    font-size: calc(var(--index) * 0.5);
    width: calc(var(--index) * 12);
  }
  .slick-track{
    gap:calc(var(--index)*7)
  }
}