body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(39, 39, 39);
}
:root {
  --index: calc(1vw + 1vh);
}
.divider{
  color: darkcyan;
  font-weight: 900;
  font-size: calc(var(--index)*1.5);
  margin: 6.7vw auto 0;
  text-align: center;
  text-decoration: underline;
}
